/.phpunit.cache
/vendor/
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail

# Cache, logs y sesiones
/bootstrap/cache/
storage/*
!storage/app/
!storage/framework/
!storage/logs/

.env
.env.example
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
